.experience-item {
  display: flex;
  border-bottom: 1px solid #ccc;
  ul {
    padding-left: 1rem;
  }
}

.experience-item-title {
  color: rgb(103, 103, 103);
  font-weight: 400;
  font-size: 1.1rem;
}

.experience-item:last-child {
  border-bottom: 0px;
}

.experience-item img {
    width: 80px;
    object-fit: contain; 
}
@media screen and (max-width: 600px) {
  .experience-item {
    flex-direction: column;
  }

  .experience-icon {
    margin: 0 auto 1rem auto;
  }
} 

.experience-icon {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experience-item-description {
  flex: 1;
  white-space: pre-line;
}

.experience-item-description p:first-child {
  margin-top: 0;
}

.experience-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience-item-info-period {
  font-size: 0.7rem;
  color: gray;
  margin: 0;
}
