.skills-section img {
  width: 20px;
}

@media screen and (max-width: 900px) {
  .skills-section {
    height: auto !important;
    flex-direction: row !important;
    width: auto !important;
  }
  .skills-section * {
    margin-right: 10px;
  }
  .skills-container {
    flex-direction: column;
  }
} 

.skills-section {
  height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.skills-item {
  display: flex;
  align-items: center;
}

.skills-item p {
  margin-left: 10px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
}