.skills-container {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-item {
  display: flex;
  align-items: center;
  gap: 8px;

  p {
    margin: 0;
  }

  img {
    width: 20px;
  }
}
