body {
  margin: 0;
  padding: 50px 0;
  line-height: 1.4rem;
  color: #444;
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }
  html {
    background-color: white !important;
  }
} 

@media print {
  body {
    padding: 0;
  }
  html {
    background-color: white !important;
  }
} 


html {
  font-family: 'Roboto';
  margin: 0;
  height: 100%;
  background-color: #f2f4f5;
  color: #444;
}

a:link {
  color: #4ec2e7;
}

a:visited {
  color: #4ec2e7;
}
