body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto';
  margin: 0;
  height: 100%;
  background-color: #f2f4f5;
  color: #444;
}

a:link {
  color: #4ec2e7;
}

a:visited {
  color: #4ec2e7;
}
