.resume-container {
  width: 900px;
  background-color: white;
  margin: 90px auto 90px auto;
  box-shadow: 5px 5px 10px #888888;
}

@media screen and (max-width: 900px) {
  .resume-container {
    width: 100%;
    margin: 0;
  }
} 

@media print {
  .resume-container {
    width: 100%;
    margin: 0;
  }
} 